# General
*.log
*.DS_Store
*.idea/
*.iml

# Backend (Spring Boot / Maven)
backend/target/
backend/*.jar

# Frontend (Flutter)
frontend/build/
frontend/*.apk
frontend/*.aab
.vscode/settings.json
backend/src/main/java/com/abel/gastrohub/util/KeyGenerator.java
backend/.env
